<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ChinaTutors?useUnicode=true&amp;characterEncoding=utf8</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">niit</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="com/lulech/pojo/CurriculaVariable.hbm.xml"/>
    <mapping resource="com/lulech/pojo/Courses.hbm.xml"/>
    <mapping resource="com/lulech/pojo/Exams.hbm.xml"/>
    <mapping resource="com/lulech/pojo/Scores.hbm.xml"/>
    <mapping resource="com/lulech/pojo/Teachers.hbm.xml"/>
    <mapping resource="com/lulech/pojo/Students.hbm.xml"/>
    <mapping resource="com/lulech/pojo/Classes.hbm.xml"/>
    <mapping resource="com/lulech/pojo/Chapters.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
